<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reqres API</title>
</head>
<body>
    <h1>Reqres API</h1>
    <ul>
        <li>Ivan -> Single User (Method :GET , Url : <a href="{{local_url}}">{{local_url}}users</a>)</li>
        <li>Devina -> Get Single Resource (Method : , Url : <a href="{{local_url}}">{{local_url}}</a>)</li>
        <li>Pingky -> List User (Method : GET, Url : <a href="{{local_url}}">{{local_url}}users</a>)</li>
        <li>Safira ->  Delete User (Method : , Url : <a href="{{local_url}}">{{local_url}}</a>)</li>
        <li>Faiz -> Update User (Method : PUT, Url : <a href="{{local_url}}update">{{local_url}}update</a>)</li>
        <li>Yuma -> Register User (Method : POST, Url : <a href="{{local_url}}register">{{local_url}}register</a>)</li>
    </ul>
</body>
</html>